.sidebarChat{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(123, 106, 170);
    cursor: pointer;
}
.sidebarChat:hover{
    background-color: rgb(148, 96, 182);
    color:rgb(255, 255, 255);
}
.sidebarChat_info{
    margin-left: 15px;
    position: relative;
    width:100%;
}
.sidebarChat_info>small{
    position: absolute;
    top:5px;
    right:0;
}