.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
    height:100vh;
    background-color: white;
    /* width: 100%; */
    
}
.chat_header{
    padding:20px;
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid lightgray;
<<<<<<< HEAD:src/Chat.css
    background-color:#ade9e0;
}
.chat_header>h4{
    font-weight: 500;
    color:rgb(235, 223, 223);
}
.chat_name{
    color: rgb(212, 194, 194);
=======
    background-color:#84cabf;
}
.chat_header>h4{
    font-weight: 500;
    color:rgb(243, 237, 237);
}
.chat_name{
    color: white;
>>>>>>> 877ae53a71211151e2dfc77189404932272063f3:src/Talk.css
}
.chat_input{
    display:flex;
    align-items: center;
    padding:10px 20px;
<<<<<<< HEAD:src/Chat.css
    background-color:#6eb3a1;
=======
    background-color:#81e0c9;
>>>>>>> 877ae53a71211151e2dfc77189404932272063f3:src/Talk.css
}
.chat_input>form{
    flex:1;
}
.chat_input>form>input{
    width: 98%;
    outline-width: 0;
    border: 1px solid rgb(199, 189, 189);
    border-radius:999px;
    padding:5px;
}
.chat_input>form>button{
    display:none;
}
.chat_message{
    flex:1;
    overflow: scroll;
}
.chat_message::-webkit-scrollbar{
    display: none;
}
.chat_message{
    -ms-overflow-style: none;
    scrollbar-width: none;
}